.campo-obrigatorio {
    border: 1px solid red;
}

.campo-preenchido {
    border: 1px solid green;
}

.labelInputDiv {
    display: flex;
    flex-direction: column;
}

.container {
    flex: 1;
}

form {
    flex: 1;
    margin: 18px;
}

.input {
    margin-bottom: 3rem;
    height: 1.5rem;
    border-radius: 8px;
    min-width: 250px;
}